Repository teloxide/teloxide, pull requests merged in 2023-02, with the labels that each got.

#825 Add `ApiError::ImageProcessFailed`
  crates/teloxide-core/src/errors.rs
Labels: C-core

#831 Fix deserialization of invalid token error
  crates/teloxide-core/src/errors.rs
Labels: C-core

#835 Synchronize places that use update kinds
  CHANGELOG.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/src/dispatching/filter_ext.rs
  crates/teloxide/src/dispatching/handler_description.rs
Labels: C-core, C-main

#849 Try out merge queue (new github feature)
  .github/workflows/ci.yml
Labels: S-waiting-on-review

#848 Add `sqlite-storage-rustls` feature
  .github/workflows/ci.yml
  CHANGELOG.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/features.md
Labels: S-waiting-on-review, C-main

#843 Add docstring to Message::from
  crates/teloxide-core/src/types/message.rs
Labels: C-core, S-waiting-on-ci

#826 Rewrite hacks for reliable `Update` deserialization
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/bot.rs
  crates/teloxide-core/src/errors.rs
  crates/teloxide-core/src/net/request.rs
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/src/update_listeners/webhooks/axum.rs
Labels: S-waiting-on-review, C-core, C-main

#852 Remove a useless allocation when attaching files
  crates/teloxide-core/src/types/input_file.rs
Labels: S-waiting-on-review, C-core

#830 Fix deserialization of messages from topics
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/forum_topic_created.rs
  crates/teloxide-core/src/types/message.rs
Labels: S-waiting-on-review, C-core, C-main

#851 Add `ChatPermissions::can_*` helper functions
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/chat_permissions.rs
Labels: S-waiting-on-review, C-core
