Repository teloxide/teloxide, pull requests merged in 2023-05, with the labels that each got.

#839 ApiError fixes
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/errors.rs
Labels: S-waiting-on-review, C-core

#853 Remove some `Option<bool>`s
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/force_reply.rs
  crates/teloxide-core/src/types/reply_keyboard_markup.rs
  crates/teloxide-core/src/types/reply_keyboard_remove.rs
Labels: S-waiting-on-review, C-core, breaking change

#854 Fix arguments and return types of live location methods
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads/edit_message_live_location_inline.rs
  crates/teloxide-core/src/payloads/set_game_score_inline.rs
  crates/teloxide-core/src/payloads/stop_message_live_location.rs
  crates/teloxide-core/src/payloads/stop_message_live_location_inline.rs
  crates/teloxide-core/src/requests/requester.rs
Labels: S-waiting-on-review, C-core, breaking change

#859 Introduce a `Seconds` newtype
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/adaptors/throttle/request.rs
  crates/teloxide-core/src/adaptors/throttle/worker.rs
  crates/teloxide-core/src/errors.rs
  crates/teloxide-core/src/net/request.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/animation.rs
  crates/teloxide-core/src/types/audio.rs
  crates/teloxide-core/src/types/chat.rs
  crates/teloxide-core/src/types/inline_query_result_location.rs
  crates/teloxide-core/src/types/location.rs
  crates/teloxide-core/src/types/message_auto_delete_timer_changed.rs
  crates/teloxide-core/src/types/poll.rs
  crates/teloxide-core/src/types/response_parameters.rs
  crates/teloxide-core/src/types/seconds.rs
  crates/teloxide-core/src/types/video.rs
  crates/teloxide-core/src/types/video_chat_ended.rs
  crates/teloxide-core/src/types/video_note.rs
  crates/teloxide-core/src/types/voice.rs
Labels: S-waiting-on-review, C-core, breaking change

#879 Fix deserialization of empty messages
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/message.rs
Labels: S-waiting-on-review, C-core, breaking change

#876 Fix deserialization of some unit structures
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/callback_game.rs
  crates/teloxide-core/src/types/forum_topic_closed.rs
  crates/teloxide-core/src/types/forum_topic_reopened.rs
  crates/teloxide-core/src/types/general_forum_topic_hidden.rs
  crates/teloxide-core/src/types/general_forum_topic_unhidden.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/write_access_allowed.rs
Labels: S-waiting-on-review
