Repository teloxide/teloxide, pull requests merged in 2023-12, with the labels that each got.

#962 Don't auto-add `C-main` label to all PRs
  triagebot.toml
Labels: S-waiting-on-review

#981 Add `#[must_use]` to bot adaptors
  crates/teloxide-core/src/requests/requester_ext.rs
Labels: S-waiting-on-review, C-core

#961 Support more methods in `DefaultParseMode`
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/adaptors/parse_mode.rs
Labels: S-waiting-on-review, C-core, breaking change
