Repository teloxide/teloxide, pull requests merged in 2023-10, with the labels that each got.

#950 Fix CI
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/README.md
  crates/teloxide-core/src/adaptors/throttle/worker.rs
  crates/teloxide-core/src/lib.rs
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dispatcher.rs
Labels: S-waiting-on-review, C-core, C-macros, C-main

#951 Make `ci-pass` job actually fail when some required job failed
  .github/workflows/ci.yml
Labels: S-waiting-on-review

#953 Fix typos in documentation
  CHANGELOG.md
  crates/teloxide-core/src/types/input_file.rs
  crates/teloxide-core/src/types/input_media.rs
Labels: C-core, C-main, S-waiting-on-ci

#913 triable bot
  CHANGELOG.md
  crates/teloxide/src/dispatching/dispatcher.rs
Labels: S-waiting-on-review, C-main
