Repository teloxide/teloxide, pull requests merged in 2023-09, with the labels that each got.

#906 Make `mentioned_users` somewhat less terrible
  crates/teloxide-core/src/types/update.rs
Labels: S-waiting-on-review, C-core

#905 Assorted user/chat id additions
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/chat_id.rs
  crates/teloxide-core/src/types/user_id.rs
Labels: S-waiting-on-review, C-core

#923 Fix hide attr bug work as meta name value str
  crates/teloxide-macros/src/attr.rs
  crates/teloxide-macros/src/command_attr.rs
Labels: S-waiting-on-author, C-macros

#936 Fix the type of `photo_size`,`photo_width` and `photo_height` in the `send_invoice` method
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/payloads/send_invoice.rs
Labels: C-core, breaking change

#917 Add `MessageToCopyNotFound` to `teloxide::errors::ApiError`
  CHANGELOG.md
  crates/teloxide-core/src/errors.rs
Labels: C-core

#861 Support setting the help message of commands with `/// ...`
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/src/attr.rs
  crates/teloxide-macros/src/bot_commands.rs
  crates/teloxide-macros/src/command.rs
  crates/teloxide-macros/src/command_attr.rs
  crates/teloxide-macros/src/command_enum.rs
  crates/teloxide/examples/admin.rs
  crates/teloxide/examples/buttons.rs
  crates/teloxide/examples/command.rs
  crates/teloxide/examples/db_remember.rs
  crates/teloxide/examples/dispatching_features.rs
  crates/teloxide/examples/purchase.rs
  crates/teloxide/src/utils/command.rs
  crates/teloxide/tests/command.rs
Labels: enhancement, S-waiting-on-review, C-macros

#860 Simplify release process by using `cargo-release`
  Cargo.toml
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/src/lib.rs
  crates/teloxide-macros/Cargo.toml
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review

#941 Configure triagebot
  triagebot.toml
Labels: S-waiting-on-review

#932 Implemend command_separator attr to split command and args
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/src/bot_commands.rs
  crates/teloxide-macros/src/command.rs
  crates/teloxide-macros/src/command_attr.rs
  crates/teloxide-macros/src/command_enum.rs
  crates/teloxide/src/utils/command.rs
  crates/teloxide/tests/command.rs
Labels: C-macros, S-waiting-on-ci

#943 Update nightly Rust
  .github/workflows/ci.yml
  Cargo.toml
  crates/teloxide-core/src/adaptors/throttle/worker.rs
  crates/teloxide-core/src/codegen.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads/codegen.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/passport_element_error.rs
  crates/teloxide-core/src/types/recipient.rs
  crates/teloxide-core/src/types/thread_id.rs
  crates/teloxide-macros/Cargo.toml
  crates/teloxide-macros/src/attr.rs
  crates/teloxide-macros/src/command_attr.rs
  crates/teloxide/src/dispatching/dialogue/storage/sqlite_storage.rs
  crates/teloxide/src/repls/commands_repl.rs
  crates/teloxide/src/utils/markdown.rs
  rust-toolchain.toml
Labels: S-waiting-on-review, C-core, C-macros, C-main

#938 Improve graceful shutdown
  CHANGELOG.md
  crates/teloxide/src/dispatching/dispatcher.rs
  crates/teloxide/src/update_listeners.rs
  crates/teloxide/src/update_listeners/polling.rs
  crates/teloxide/src/update_listeners/stateful_listener.rs
  crates/teloxide/src/utils/shutdown_token.rs
Labels: S-waiting-on-review, C-core
