Repository teloxide/teloxide, pull requests merged in 2024-02, with the labels that each got.

#1002 Add exponential backoff strategy to the polling
  CHANGELOG.md
  crates/teloxide/src/backoff.rs
  crates/teloxide/src/lib.rs
  crates/teloxide/src/update_listeners/polling.rs
Labels: S-waiting-on-review, C-main

#1000 Fixup issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/parse-error.md
  .github/ISSUE_TEMPLATE/unknown-telegram-error.md
Labels: S-waiting-on-review, A-meta

#998 Replace `ApiError::NotFound` with `InvalidToken`
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/errors.rs
Labels: S-waiting-on-review, C-core, A-tba-errors

#1010 Pin ahash version
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review

#954 Support for the TBA 6.5
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/payloads/restrict_chat_member.rs
  crates/teloxide-core/src/payloads/set_chat_permissions.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/chat_join_request.rs
  crates/teloxide-core/src/types/chat_member.rs
  crates/teloxide-core/src/types/chat_permissions.rs
  crates/teloxide-core/src/types/chat_shared.rs
  crates/teloxide-core/src/types/keyboard_button.rs
  crates/teloxide-core/src/types/keyboard_button_request_chat.rs
  crates/teloxide-core/src/types/keyboard_button_request_user.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/user_shared.rs
Labels: C-core, S-waiting-on-author, A-tba-update

#1012 Add more auto labeling to teloxidebot
  triagebot.toml
Labels: S-waiting-on-review

#1013 Remove deprecated things
  CHANGELOG.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/README.md
  crates/teloxide-core/src/adaptors.rs
  crates/teloxide-core/src/adaptors/auto_send.rs
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/requests/requester_ext.rs
  crates/teloxide-core/src/types/chat_member.rs
  crates/teloxide-core/src/types/inline_keyboard_button.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/parse_mode.rs
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching.rs
  crates/teloxide/src/dispatching/dispatcher.rs
  crates/teloxide/src/features.md
  crates/teloxide/src/lib.rs
  crates/teloxide/src/prelude.rs
  crates/teloxide/src/repls.rs
  crates/teloxide/src/repls/commands_repl.rs
  crates/teloxide/src/update_listeners.rs
  crates/teloxide/src/update_listeners/polling.rs
  crates/teloxide/src/update_listeners/stateful_listener.rs
  crates/teloxide/src/utils/command.rs
Labels: S-waiting-on-review, C-core, C-main, A-update-listeners, A-tba-types, A-dispatching, A-requester, A-requests

#997 Doc improvements & stuff
  .cargo/config.toml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dispatcher.rs
Labels: A-documentation, S-waiting-on-review, C-main, A-dispatching, A-meta, A-dependencies

#1016 crates: remove unused dependencies
  crates/teloxide-core/Cargo.toml
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-core, C-main

#1018 Fix app build errors when using items gated behind sqlite-storage with rustls
  CHANGELOG.md
  crates/teloxide/src/dispatching/dialogue.rs
  crates/teloxide/src/dispatching/dialogue/storage.rs
Labels: S-waiting-on-review, C-main, A-dialogue, A-dispatching
