Repository teloxide/teloxide, pull requests merged in 2024-08, with the labels that each got.

#1119 Allow serving path configuration for the webhook
  CHANGELOG.md
  crates/teloxide/src/update_listeners/webhooks.rs
  crates/teloxide/src/update_listeners/webhooks/axum.rs
Labels: S-waiting-on-author, C-main, A-update-listeners

#1105 Fix issue with Throttle and Trace adaptors losing Requester trait bounds
  crates/teloxide-core/src/adaptors/throttle/request.rs
  crates/teloxide-core/src/adaptors/trace.rs
Labels: S-waiting-on-review, C-core

#1130 I'm stepping down as a maintainer
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/parse-error.md
  triagebot.toml
Labels: S-waiting-on-review

#1132 Release `teloxide-macros` v0.8.0, `teloxide-core` v0.10.0, `teloxide` v0.13.0
  CHANGELOG.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/README.md
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/Cargo.toml
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-core, C-macros, C-main, A-macros

#1133 Added deep linking example
  Cargo.lock
  crates/teloxide/Cargo.toml
  crates/teloxide/examples/deep_linking.rs
Labels: S-waiting-on-review, C-main

#1136 Fix #1135
  Cargo.lock
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/message_id.rs
  crates/teloxide-core/src/types/reply_parameters.rs
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-core, C-main, A-tba-types

#1137 Release `teloxide-core` v0.10.1
  Cargo.lock
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/README.md
  crates/teloxide-core/src/lib.rs
Labels: S-waiting-on-review, C-core

#1131 Add TBA 7.1 support
  CHANGELOG.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/payloads/promote_chat_member.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/chat.rs
  crates/teloxide-core/src/types/chat_administrator_rights.rs
  crates/teloxide-core/src/types/chat_boost_added.rs
  crates/teloxide-core/src/types/chat_member.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/story.rs
  crates/teloxide-core/src/types/story_id.rs
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/src/dispatching/filter_ext.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-dispatching, A-requests

#1139 Added mention_command filter
  CHANGELOG.md
  crates/teloxide/examples/dispatching_features.rs
  crates/teloxide/src/dispatching.rs
  crates/teloxide/src/dispatching/handler_ext.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-main, A-dispatching

#1140 Bump pretty_env_logger to 0.5
  Cargo.lock
  README.md
  crates/teloxide-core/Cargo.toml
Labels: S-waiting-on-review, C-core

#1145 Added default to serialized fields, so they can be deserialized
  crates/teloxide-core/src/types/force_reply.rs
  crates/teloxide-core/src/types/input_media.rs
  crates/teloxide-core/src/types/reply_keyboard_markup.rs
  crates/teloxide-core/src/types/reply_keyboard_remove.rs
Labels: S-waiting-on-review, C-core, A-tba-types

#1134 Add `MaybeAnonymousUser` type
  Cargo.lock
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/maybe_anonymous_user.rs
  crates/teloxide-core/src/types/message_reaction_updated.rs
  crates/teloxide-core/src/types/poll_answer.rs
  crates/teloxide-core/src/types/update.rs
Labels: S-waiting-on-review, C-core, breaking change, A-tba-types

#1144 Replace Currency enum with String, mention XTR special currency in docs
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/payloads/create_invoice_link.rs
  crates/teloxide-core/src/payloads/send_invoice.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/input_message_content.rs
  crates/teloxide-core/src/types/invoice.rs
  crates/teloxide-core/src/types/non_telegram_types/currency.rs
  crates/teloxide-core/src/types/pre_checkout_query.rs
  crates/teloxide-core/src/types/successful_payment.rs
Labels: S-waiting-on-review, C-core, A-tba-types, A-requests

#1147 Bump sqlx, reqwest and other deps. Also bump MSRV to 1.80
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/README.md
  crates/teloxide-core/src/lib.rs
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/Cargo.toml
  crates/teloxide/Cargo.toml
  crates/teloxide/src/update_listeners/webhooks/axum.rs
  crates/teloxide/src/utils/shutdown_token.rs
Labels: S-waiting-on-review, C-core, breaking change, C-macros, C-main, A-update-listeners, A-macros

#1151 Add dedicated `Rgb` struct to replace `[u8; 3]`
  Cargo.lock
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads/create_forum_topic.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/forum_topic.rs
  crates/teloxide-core/src/types/forum_topic_created.rs
  crates/teloxide-core/src/types/rgb.rs
Labels: S-waiting-on-review, C-core, breaking change, A-tba-types, A-requester, A-requests

#1157 Add BotKickedFromChannel variant to ApiError
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/errors.rs
Labels: C-core, S-waiting-on-author, A-tba-errors

#1161 Fix Vec<MessageId> serialization
  CHANGELOG.md
  crates/teloxide-core/src/payloads/codegen.rs
  crates/teloxide-core/src/payloads/copy_messages.rs
  crates/teloxide-core/src/payloads/delete_messages.rs
  crates/teloxide-core/src/payloads/forward_messages.rs
  crates/teloxide-core/src/types.rs
Labels: S-waiting-on-review, C-core, A-tba-types, A-requests
