Repository teloxide/teloxide, pull requests merged in 2024-07, with the labels that each got.

#1079 Update nightly
  .github/workflows/ci.yml
  crates/teloxide-core/Cargo.toml
  crates/teloxide-core/src/codegen.rs
  crates/teloxide-core/src/codegen/convert.rs
  crates/teloxide-core/src/types/chat_member.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching.rs
  crates/teloxide/src/dispatching/dialogue/storage/postgres_storage.rs
  crates/teloxide/src/dispatching/dialogue/storage/redis_storage.rs
  crates/teloxide/src/dispatching/handler_ext.rs
  crates/teloxide/src/utils/command.rs
  rust-toolchain.toml
Labels: S-waiting-on-review, C-core, C-main, A-dialogue, A-tba-types, A-dispatching

#1068 Fixed `ChatPermissions` bug and improved trace `Settings`
  CHANGELOG.md
  crates/teloxide-core/src/adaptors/trace.rs
  crates/teloxide-core/src/types/chat_permissions.rs
Labels: C-core, S-waiting-on-author, C-main, A-tba-types

#1086 Add support TBA 6.7
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/cache_me.rs
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/adaptors/parse_mode.rs
  crates/teloxide-core/src/adaptors/throttle/requester_impl.rs
  crates/teloxide-core/src/adaptors/trace.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads.rs
  crates/teloxide-core/src/payloads/answer_inline_query.rs
  crates/teloxide-core/src/payloads/get_my_name.rs
  crates/teloxide-core/src/payloads/set_my_name.rs
  crates/teloxide-core/src/payloads/setters.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/bot_name.rs
  crates/teloxide-core/src/types/chat_member_updated.rs
  crates/teloxide-core/src/types/inline_keyboard_button.rs
  crates/teloxide-core/src/types/inline_query_results_button.rs
  crates/teloxide-core/src/types/parse_mode.rs
  crates/teloxide-core/src/types/switch_inline_query_chosen_chat.rs
  crates/teloxide-core/src/types/write_access_allowed.rs
Labels: S-waiting-on-review, C-core, A-tba-types, A-requester, A-requests

#1088 Require chrono >= 0.4.32
  crates/teloxide-core/Cargo.toml
Labels: S-waiting-on-review, C-core

#1089 Add a feature for rustls + native certs
  crates/teloxide-core/Cargo.toml
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-core, C-main

#1087 Add support TBA 6.8
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/cache_me.rs
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/adaptors/parse_mode.rs
  crates/teloxide-core/src/adaptors/throttle/requester_impl.rs
  crates/teloxide-core/src/adaptors/trace.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads.rs
  crates/teloxide-core/src/payloads/setters.rs
  crates/teloxide-core/src/payloads/unpin_all_general_forum_topic_messages.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/chat.rs
  crates/teloxide-core/src/types/chat_full_info.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/poll_answer.rs
  crates/teloxide-core/src/types/story.rs
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/src/dispatching/filter_ext.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-dispatching, A-requester, A-requests

#1093 Bump deps of webhook-axum
  CHANGELOG.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/update_listeners/webhooks/axum.rs
Labels: S-waiting-on-review, C-main, A-update-listeners

#1102 Tidy up documentation regarding the latest supported version of TBA
  CONTRIBUTING.md
  crates/teloxide-core/src/lib.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, C-main

#1104 Unpin aHash dependency
  Cargo.lock
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-main

#1081 Use deadpool-redis for pooling (fixes #707)
  CHANGELOG.md
  Cargo.lock
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dialogue/storage/redis_storage.rs
Labels: S-waiting-on-author, C-main, A-dialogue, A-dispatching

#1066 send_game needs chat_id by ChatId not u32
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads/send_game.rs
  crates/teloxide-core/src/requests/requester.rs
Labels: C-core, S-waiting-on-author, A-requester, A-requests

#1106 Remove the `ahash` dependency
  Cargo.lock
  crates/teloxide/Cargo.toml
Labels: S-waiting-on-review, C-main

#1108 Add tests to issue #1107
  crates/teloxide-core/src/types/update.rs
Labels: S-waiting-on-review, C-core, A-tba-types

#1116 Allow `dead_code` in a test
  crates/teloxide/tests/command.rs
Labels: S-waiting-on-review, C-main

#1115 Added testing field to README
  README.md
Labels: S-waiting-on-review

#1113 Improve backoff and behaviour in case of RetryAfter errors
  CHANGELOG.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide/src/backoff.rs
  crates/teloxide/src/repls/commands_repl.rs
  crates/teloxide/src/update_listeners/polling.rs
Labels: S-waiting-on-review, C-core, C-main, A-update-listeners, A-requester, A-requests
