Repository teloxide/teloxide, pull requests merged in 2024-01, with the labels that each got.

#937 Support `alias`, `aliases` and `hide_aliases`
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/src/attr.rs
  crates/teloxide-macros/src/bot_commands.rs
  crates/teloxide-macros/src/command.rs
  crates/teloxide-macros/src/command_attr.rs
  crates/teloxide-macros/src/command_enum.rs
  crates/teloxide/examples/command.rs
  crates/teloxide/src/utils/command.rs
  crates/teloxide/tests/command.rs
Labels: S-waiting-on-review, C-core, C-macros, C-main

#988 Update triagebot configuration
  triagebot.toml
Labels: S-waiting-on-review

#989 Update the license year
  LICENSE
Labels: S-waiting-on-review

#982 Add missing filter fns
  CHANGELOG.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/message.rs
  crates/teloxide/src/dispatching/filter_ext.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, C-main

#915 Chat member update example
  crates/teloxide/examples/chat_member_updates.rs
Labels: documentation, S-waiting-on-author, C-main

#990 Fix parsing `InlineQueryResult` variants and add tests
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/inline_query_result.rs
Labels: S-waiting-on-review, C-core

#994 Fix audio duration type
  CHANGELOG.md
  crates/teloxide-core/src/types/inline_query_result.rs
  crates/teloxide-core/src/types/inline_query_result_audio.rs
Labels: S-waiting-on-review, C-core

#995 Sqlx version advance
  CHANGELOG.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dialogue.rs
  crates/teloxide/src/dispatching/dialogue/storage.rs
  crates/teloxide/src/dispatching/dialogue/storage/sqlite_storage.rs
  crates/teloxide/src/features.md
Labels: S-waiting-on-review, C-main
