Repository teloxide/teloxide, pull requests merged in 2024-10, with the labels that each got.

#1176 improving `reply_keyboard_markup`
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/src/types/reply_keyboard_markup.rs
Labels: C-core, S-waiting-on-author, A-tba-types

#1179 Fixed ThreadId serialization in multipart requests
  CHANGELOG.md
  crates/teloxide-core/src/serde_multipart/serializers.rs
Labels: S-waiting-on-review, C-core

#1152 Add Render utility for recreating HTML or Markdown formatted text
  CHANGELOG.md
  crates/teloxide-core/src/types/keyboard_button_request_chat.rs
  crates/teloxide-core/src/types/keyboard_button_request_users.rs
  crates/teloxide/src/stop.rs
  crates/teloxide/src/utils.rs
  crates/teloxide/src/utils/markdown.rs
  crates/teloxide/src/utils/render.rs
  crates/teloxide/src/utils/render/helper.rs
  crates/teloxide/src/utils/render/html.rs
  crates/teloxide/src/utils/render/markdown.rs
  crates/teloxide/src/utils/render/tag.rs
Labels: C-core, S-waiting-on-author, C-main, A-tba-types

#1185 Fixed stack overflow and added stack_size setter
  CHANGELOG.md
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dispatcher.rs
Labels: S-waiting-on-author, C-main, A-dispatching
