Repository teloxide/teloxide, pull requests merged in 2025-06, with the labels that each got.

#1352 Startup-time type checking with `dptree`
  Cargo.lock
  crates/teloxide/Cargo.toml
  crates/teloxide/src/dispatching/dialogue.rs
  crates/teloxide/src/dispatching/dispatcher.rs
  crates/teloxide/src/dispatching/filter_ext.rs
  crates/teloxide/src/dispatching/handler_ext.rs
  crates/teloxide/src/dispatching/tracing.rs
  crates/teloxide/src/repls/commands_repl.rs
  crates/teloxide/src/repls/repl.rs
Labels: S-waiting-on-review, C-main, A-dispatching

#1357 Add TBA 7.7 support
  CHANGELOG.md
  MIGRATION_GUIDE.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads/refund_star_payment.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/refunded_payment.rs
  crates/teloxide-core/src/types/star_transaction.rs
  crates/teloxide-core/src/types/successful_payment.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, breaking change, C-main, A-tba-types, A-requester, A-requests

#1358 Bump MSRV to 1.82 and nightly to 2025-06-12
  .devcontainer/Containerfile
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/src/codegen.rs
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/net.rs
  crates/teloxide-macros/CHANGELOG.md
  crates/teloxide-macros/src/bot_commands.rs
  rust-toolchain.toml
Labels: S-waiting-on-review, C-core, C-macros, A-macros

#1359 Fix clippy errors
  crates/teloxide-core/src/adaptors/throttle/request.rs
  crates/teloxide-core/src/adaptors/throttle/settings.rs
  crates/teloxide-core/src/adaptors/throttle/worker.rs
Labels: S-waiting-on-review, C-core

#1360 Added 7.8 support
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/payloads/pin_chat_message.rs
  crates/teloxide-core/src/payloads/unpin_chat_message.rs
  crates/teloxide-core/src/types/me.rs
  crates/teloxide/src/dispatching/handler_ext.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-dispatching, A-requests

#1368 improve ApiError::TerminatedByOtherGetUpdates docs
  crates/teloxide-core/src/errors.rs
Labels: S-waiting-on-review, C-core, A-tba-errors

#1366 Add 7.10
  CHANGELOG.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/payloads/send_paid_media.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/allowed_update.rs
  crates/teloxide-core/src/types/chat_boost_source.rs
  crates/teloxide-core/src/types/giveaway.rs
  crates/teloxide-core/src/types/giveaway_completed.rs
  crates/teloxide-core/src/types/giveaway_created.rs
  crates/teloxide-core/src/types/giveaway_winners.rs
  crates/teloxide-core/src/types/message.rs
  crates/teloxide-core/src/types/paid_media_purchased.rs
  crates/teloxide-core/src/types/transaction_partner.rs
  crates/teloxide-core/src/types/update.rs
  crates/teloxide/src/dispatching/filter_ext.rs
  crates/teloxide/src/dispatching/handler_description.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-dispatching, A-requests

#1367 Add 7.11
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/payloads/copy_message.rs
  crates/teloxide-core/src/payloads/edit_message_media.rs
  crates/teloxide-core/src/payloads/edit_message_media_inline.rs
  crates/teloxide-core/src/payloads/send_animation.rs
  crates/teloxide-core/src/payloads/send_audio.rs
  crates/teloxide-core/src/payloads/send_contact.rs
  crates/teloxide-core/src/payloads/send_dice.rs
  crates/teloxide-core/src/payloads/send_document.rs
  crates/teloxide-core/src/payloads/send_game.rs
  crates/teloxide-core/src/payloads/send_invoice.rs
  crates/teloxide-core/src/payloads/send_location.rs
  crates/teloxide-core/src/payloads/send_media_group.rs
  crates/teloxide-core/src/payloads/send_message.rs
  crates/teloxide-core/src/payloads/send_paid_media.rs
  crates/teloxide-core/src/payloads/send_photo.rs
  crates/teloxide-core/src/payloads/send_poll.rs
  crates/teloxide-core/src/payloads/send_sticker.rs
  crates/teloxide-core/src/payloads/send_venue.rs
  crates/teloxide-core/src/payloads/send_video.rs
  crates/teloxide-core/src/payloads/send_video_note.rs
  crates/teloxide-core/src/payloads/send_voice.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/copy_text_button.rs
  crates/teloxide-core/src/types/inline_keyboard_button.rs
  crates/teloxide-core/src/types/message_entity.rs
  crates/teloxide-core/src/types/transaction_partner.rs
  crates/teloxide/src/lib.rs
  crates/teloxide/src/utils/render/tag.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-requests

#1369 Add TBA 8.0 support
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  crates/teloxide-core/CHANGELOG.md
  crates/teloxide-core/README.md
  crates/teloxide-core/schema.ron
  crates/teloxide-core/src/adaptors/cache_me.rs
  crates/teloxide-core/src/adaptors/erased.rs
  crates/teloxide-core/src/adaptors/parse_mode.rs
  crates/teloxide-core/src/adaptors/throttle/requester_impl.rs
  crates/teloxide-core/src/adaptors/trace.rs
  crates/teloxide-core/src/bot/api.rs
  crates/teloxide-core/src/codegen/patch.rs
  crates/teloxide-core/src/lib.rs
  crates/teloxide-core/src/local_macros.rs
  crates/teloxide-core/src/payloads.rs
  crates/teloxide-core/src/payloads/create_invoice_link.rs
  crates/teloxide-core/src/payloads/edit_user_star_subscription.rs
  crates/teloxide-core/src/payloads/get_available_gifts.rs
  crates/teloxide-core/src/payloads/save_prepared_inline_message.rs
  crates/teloxide-core/src/payloads/send_gift.rs
  crates/teloxide-core/src/payloads/set_user_emoji_status.rs
  crates/teloxide-core/src/payloads/setters.rs
  crates/teloxide-core/src/requests/requester.rs
  crates/teloxide-core/src/types.rs
  crates/teloxide-core/src/types/gift.rs
  crates/teloxide-core/src/types/mask_position.rs
  crates/teloxide-core/src/types/prepared_inline_message.rs
  crates/teloxide-core/src/types/sticker.rs
  crates/teloxide-core/src/types/successful_payment.rs
  crates/teloxide-core/src/types/transaction_partner.rs
  crates/teloxide/src/lib.rs
Labels: S-waiting-on-review, C-core, C-main, A-tba-types, A-requester, A-requests

#1370 Added dptree guide
  DPTREE_GUIDE.md
  README.md
  crates/teloxide/src/lib.rs
Labels: A-documentation, S-waiting-on-review, C-main
